body {
    background-color: rgba(200, 200, 200, 0.2); 
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgray ;/* Darker green for the header */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.main {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="url"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

textarea {
    height: 100px;
}
footer {
    background-color: gray; /* Gray color */
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}
.home-link {
    position: absolute;
    text-decoration: none; /* Removes underline from link */
    color: white; /* Sets the text color */
    padding: 10px; /* Adds padding around the text */
    margin-left: 10px; /* Adds space to the left */
    right:10px;
}

.home-link:hover {
    background-color: black; /* Changes color on hover */
}

