
body {
    font-family: Arial, sans-serif;
    background-color: rgba(200, 200, 200, 0.2); 
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    padding: 1em 0;
    justify-content: center; /* Adjusted for spacing */
    background-color: gray; /* Gray color for header */
}

.user-actions {
    position: absolute;
    left: 10px;
}

.user-actions button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-actions button:hover {
    background-color: #0056b3;
}

.user-actions span {
    color: black;
    font-weight: bold;
}

#stadiums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.stadium {
    padding:  5px;
    flex-basis: calc(50% - 20px); /* Two stadiums per row */
    border-radius: 15px; /* Rounded corners for each stadium frame */
    overflow: hidden; /* Ensures image adheres to border radius */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.stadium img {
    width: 700px;
    height: 350px; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image covers the frame */
    border-radius: 15px; /* Rounded corners for images */
}

.stadium:hover {
    transform: scale(1.05); /* Slightly enlarges the stadium frame on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Optional: Enhances shadow on hover */
}


#add-stadium-button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#add-stadium-button:hover {
    background-color: black;
}


footer {
    background-color: gray; /* Gray color */
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

.delete-stadium-btn {
    position: absolute;
    top: 0;
    right: 10px; /* Keep this at the very right */
    padding: 5px 8px;
    margin: 2px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    z-index: 0; /* Ensure it's above the edit button if they overlap */
}

.delete-stadium-btn:hover {
    background-color: darkred;
}

.edit-stadium-btn {
    position: absolute;
    top: 0;
    right: 40px; 
    cursor: pointer;
    padding: 5px;
    fill: yellow; 
    z-index: 1; 
}

.edit-stadium-btn:hover {
    fill: #0056b3; 
}
.rating {
    display: flex;
    align-items: left;
    justify-content: left; 
    gap: 5px; /* Spacing between stars */
}

.star {
    width: 24px; 
    height: 24px; 
    background-size: cover;
    display: inline-block; 
}

.filled {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Gold_Star_%28with_border%29.svg/640px-Gold_Star_%28with_border%29.svg.png');
}

.empty {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Empty_Star.svg/1200px-Empty_Star.svg.png');
}

.ratingRadio {
    margin-left: 10px; 

}

.ratingRadio {
    font-size: 18px;
    font-weight: bold;
    color: #ff9500; /* Attractive orange color */
    background-color: #ffffff;
    border: 2px solid #ff9500; /* Matching border color */
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}


.ratingRadio:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.ratingRadio:empty:before {
    content: "NA/NA";
    color: #777; 
    border-color: #777; 
}